:root {
    --primary-color: #00FFFF;
    --dark-color: #012525;
}

.calculator{

    width:360px;
    background: var(--primary-color);
    backdrop-filter:blur(20px);
    padding:25px;
    border-radius:25px;

}



.buttons{

    display:grid;

    grid-template-columns:
    repeat(4,1fr);

    gap:15px;

}



.btn{

    height:70px;

    border:none;

    border-radius:18px;

    cursor:pointer;

    font-size:24px;

}

/*============================
        BUTTON GRID
============================*/

.buttons {
    display: grid;
    grid-template-columns: 
    repeat(4,1fr);

    gap: 15px;
}

.btn {
    height: 70px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    font-size: 24px;
    color: white;
    background: 
    rgba(255,255,255,.15);

    transition: .2s;
}

.btn:hover {
    transform:translateY(-3px);
}

.btn:active{
    transform:scale(.95);
}

/* NAME BUTTON */
.number {
    background: #34495e;
}

/* OPERATOR */
.operator {
    background: #ff9500;
}

.operator:hover {
    background: #ffb340;
}

/* CLEAR */
.clear{
    background: #ff3b30;
}

/* EQUAL */
.equal{
    background: #00c853;
}

/* ZERO BUTTON */
.zero {
    grid-column:span 2;
}

/*============================
        CALCULATOR DESIGN
============================*/

.calculator{
    width: 360px;
    background-color: 
    linear-gradient(
        145deg, 
        rgba(255,255,255,.15), 
        rgba(255,255,255,.05
    ));

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border:
    1px solid rgba(255,255,255, .2);

    border-radius: 25px;
    padding: 25px;
    box-shadow: 
    0 10px 40px rgba(0,0,0,.35);
}

/*============================
            DISPLAY
============================*/

.display {
    margin-bottom: 20px;
}

#history {
    min-height: 25px;
    text-align: right;
    color: white;
    font-size: 16px;
}

#screen {
    width: 100%;
    height: 70px;
    border: none;
    outline: none;
    border-radius: 15px;
    background: rgba(0,0,0,.25);
    color: white;
    text-align: right;
    font-size: 40px;
    padding: 15px;
}